# Android Studio и Gradle мусор
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Настройки среды (у каждого свои)
.idea/
*.iml
.DS_Store

# Fedora/Linux мусор
*.swp
*~
.nfs*

# Логи
*.log